body{
    overflow-x: hidden;
}
header{
    background-color: #373867;
    position: sticky;
    top: 0;
    height: 98px;
    z-index: 3;
}
#principal-logo{
    padding: 30px;
}

.container{
    background-color: #AACE9B;
    width: 313px;
    height: 915px;
    position: fixed;
    top: 98px;
    z-index: 2;
}
.main{
    position: relative;
    left: 400px;
    z-index: 1;
}






