/* Header */

.logos {
    display: flex;
    flex-direction: row;
}

#principal-logo {
    padding: 30px 30px;
    width: 154px;
    height: 33px;
}

#hamburguer-icon {
    padding: 30px;
    cursor: pointer;
}

